/***********************************************************************************/
/*                        StyleSheet of Black Mirror Tribute.html                  */
/*                        Author: Rafael Moncayo                                   */
/*                        version: 1.0                                             */
/*                        Comments: Project for Leng.Marcas-1ºDam                  */
/***********************************************************************************/
@font-face {
  font-family: Texto1;
  src: url(../font/tomorrow/Tomorrow-Bold.ttf);
}
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('../imagenes/portada.png');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
  font-family: Texto1;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
.image-gallery {
  padding: 50px 0;
  background: #f4f4f4;
  text-align: center;
}

.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  background: #fff;
}

.feature-image img {
  width: 150%;
  height: 0%;
}

.feature-text {
  width: 50%;
}

.image-gallery h2 {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
}

/* Estilos adicionales según sea necesario */

footer {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}


@media only screen and (width<800px) {
  header {background-image: url(../imagenes/portadaresponsi.png);
  text-align: center;}
  h1 {font-size: 50px;}
  h3, p {font-size: 15px;
  }
}